@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;400&display=swap');

/**
  * TODO: Revisar Cores
  * TODO: Inserir Transições
  * TODO: Inserir animações (?)
  * TODO: Inserir efeito de vidro nos botões
  */

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#content {
    /*border: 1px solid white;*/
    height: 37em;
    width: 40em;

    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#icon {
    height: 13em;
    width: 12em;
    border-radius: 100%;
    border: 0.5em solid white;
    background-image: url('../images/ellian.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-x: 67%;
    background-position-y: 50%;

}

#texts {
    /*border: 1px solid white;*/
    height: 25em;
    width: 25em;

    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#texts h1 {
    color: white;
    font-family: 'JetBrains Mono', monospace;
    justify-self: start;
}

.linkElement {
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;
    font-family: 'JetBrains Mono', monospace;

    border: 1px solid white;
    height: 3em;
    width: 20em;
}


.linkElement:hover {
    background-color: white;
    color: #D6DAC2;
}

small {
    color: white;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
}

#icon img {
}